body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:trail ;
    src: url('../fonts/Questrial-Regular.ttf');
}

@font-face {
    font-family: without;
    src: url('../fonts/WithoutAltSans-Bold.ttf');
}

@font-face {
    font-family: fontspring;
    src: url('../fonts/Fontspring-DEMO-skillet-regular.otf');
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.navbar img{
    width: 10vw;
}

.navbar p{
   margin-left: 2%;
}

.home{
    width: 27%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home a,.login a{
    margin-left: 1%;
    text-decoration: none;
    color: black;
    font-family: trail;
}

.login{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}