body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:trail ;
    src: url('./fonts/Questrial-Regular.ttf');
}

@font-face {
    font-family: without;
    src: url('./fonts/WithoutAltSans-Bold.ttf');
}

@font-face {
    font-family: fontspring;
    src: url('./fonts/Fontspring-DEMO-skillet-regular.otf');
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.navbar img{
    width: 10vw;
}

.navbar p{
   margin-left: 2%;
}

.home{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home a,.login a{
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-family: trail;
}

.login{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section {
    position: relative;
    height: 50vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}

.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./images/moeder.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    filter: brightness(0.3); 
    z-index: 1; 
}

.section .section-text {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    opacity: 1; 
    padding: 20px;
    margin-top: 5%;
    font-size: larger;
}

.section-text h1{
    font-family: without;
}

.section-text p{
    font-family: trail;
    font-size: smaller;
}

.toeslageninfo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin-top: 2%;
}

.zorgtoeslag,.huurtoeslag,.kinderopvangtoeaslag{
    width: 20%;
    background-color: antiquewhite;
}

.zorgtoeslag h3,.kinderopvangtoeaslag h3,.huurtoeslag h3{
    font-family: without;
    color: darkblue;
}

.zorgtoeslag p,.kinderopvangtoeaslag p , .huurtoeslag p{
    font-family: trail;
}

.zorgtoeslaginfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:left;
    margin-top: 5%;
    align-items: center;
    background-color: tomato;
    color: white;
    padding: 2px;
}

.huurtoeslaginfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:left;
    margin-top: 5%;
    align-items: center;
    background-color: gold;
    color: black;
    padding: 2px;
}

.kinderopvangtoeslaginfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align:left;
    margin-top: 5%;
    align-items: center;
    background-color: bisque;
    color: black;
    padding: 2px;
}

.zorgtoeslaginfo img , .huurtoeslaginfo img , .kinderopvangtoeslaginfo img{
    width: 30%;
}

.zorgtoeslaginfo h1,.huurtoeslaginfo h1 , .kinderopvangtoeslaginfo h1{
    font-family: without;
}

.zorgtoeslaginfo p , .huurtoeslaginfo p , .kinderopvangtoeslaginfo p{
    font-family: trail;
    font-size: smaller;
}

.zorgtoeslaginfo ul , .huurtoeslaginfo ul , .kinderopvangtoeslaginfo ul{
    font-family: trail;
    font-size: smaller;
}

.footer img{
   width: 10%;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    background-color: beige;
}

.footer3{
    width: 50%;
    text-align: center;
    font-family: trail;
}

.footer1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: trail;
    font-size: smaller;
}

.footer2 {
  width: 100%;
  text-align: center;
  letter-spacing: 10px;
}